:root {
  --navLinkHeight: 2rem;
  --navLinkCount: 3;
  --navLinkVerticalPadding: 0.5rem;
  --navLinkGap: 1rem;
  --headPadding: 1rem;
  --navHeight: calc(var(--navLinkHeight) * var(--navLinkCount) + var(--navLinkVerticalPadding) * var(--navLinkCount) * 2 + var(--navLinkGap) * (var(--navLinkCount) - 1));
  --withNavListHeight: calc(100dvh - var(--headPadding) * 2 - var(--navHeight) - 1rem * 2 - 1px)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #F2F2F2;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::selection {
  color: #fff;
  background-color: #3abec1;
}