.scrollWrap {
  height: 100dvh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scrollWrap .snapContainer {
  scroll-snap-align: start;
  height: 100dvh;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.scrollWrap .snapContainer:nth-of-type(2) {
  background: #e9e9e9;
}

.headContainer {
  height: 100dvh;
  display: flex;
}

.profileImage {
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
}

.nameText {
  flex-direction: column;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 4.5em;
  font-weight: 600;
  line-height: 4.5rem;
  user-select: none;
}

.usernameText {
  flex-direction: column;
  color: #ececec;
  font-size: 1.6em;
  line-height: 2.5rem;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: var(--profileGap);
  margin: auto auto 0 auto;
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialList {
  padding-left: 0.2rem;
  flex-direction: column;
  align-items: center;
}

.profileContent {
  margin: auto;
  margin-left: 3rem;
}

.line {
  margin-top: 1rem;
  margin-left: 0.1rem;
  width: 22rem;
}

.lineBottom {
  display: none;
}

@media screen and (max-width: 768px) {
  .headContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 100svh; */
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--withNavListHeight)
  }

  .profileContent {
    margin-left: 0;
  }

  .profileImage {
    width: 10rem;
    height: 10rem;
  }

  .profileText {
    align-items: center;
  }

  .nameText {
    font-size: 3.5em;
  }

  .usernameText {
    font-size: 1.2em;
    line-height: 1rem;
  }

  .socialList {
    transform: scale(0.7, 0.7);
    margin-top: 1rem;
  }

  .line {
    display: none;
  }

  .lineBottom {
    margin-top: 0;
    display: inherit;
    width: 17rem;
    margin-bottom: 1rem;
    height: 1px;
  }
}
