.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: inherit;
  color: #383838;
  margin-left: 3.5rem;
}

.socialIcon {
  margin-right: 12px;
  padding-right: 12px;
  padding-left: 12px;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  width: 76px;
  height: 76px;
  transition: transform 0.07s ease-in-out, color 0.07s ease-in-out;
}

.github:hover {
  color: #111111;
}

.twitter:hover {
  color: #1da1f2;
} 

.instagram:hover {
  color: #e33f5f
}