.socials {
  display: inline-flex;
  height: 100%;
  gap: 2rem;
  color: #474747;
}

.socialIcon {
  transition: transform 0.07s ease-in-out, color 0.07s ease-in-out;
}

.github {
  transition: transform 0.07s ease-in-out, 0.07s ease-in-out;
}

.twitter {
  transition: transform 0.07s ease-in-out, 0.07s ease-in-out;
}

.github:hover {
  color: #111111;
  transform: scale(1.03,1.03);
}

.twitter:hover {
  color: #1da1f2;
  transform: scale(1.03,1.03);
} 

.instagram:hover {
  color: #e33f5f;
  transform: scale(1.03,1.03);
}